* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f172a;
  color: white;
  font-family: sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
}

.navbar ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

.hero {
  min-height: 80vh;
  display: flex;
  align-items: center;
  padding: 0 80px;
}

.hero h1 {
  font-size: 4rem;
}

.hero h2 {
  color: #38bdf8;
  margin-top: 10px;
}

.hero p {
  margin-top: 20px;
  max-width: 600px;
}

.hero-buttons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

button {
  padding: 12px 20px;
  cursor: pointer;
}

.section {
  padding: 80px;
}

.skills-grid,
.project-grid {
  margin-top: 30px;
  display: grid;
  gap: 20px;
  grid-template-columns:
    repeat(auto-fit, minmax(220px, 1fr));
}

.skill-card,
.project-card {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
}

.footer {
  text-align: center;
  padding: 30px;
}